  <div class="card doc_card">
    <div class="card-body">
      <h5 class="card-title"><%= document.title %></h5>
      <p class="card-text"><%= document.note %></p>
      <%= link_to 'View This Document', document_path(document), target: '_top', class: 'btn btn-primary' %>
    </div>
  </div>