<%= turbo_frame_tag "documents", class: 'card_grid' do %>
    <% @documents.each do |doc| %>
      <%= render partial: 'documents/document', locals: { document: doc } %>
    <% end %>
  <% end %>
</div>
