<div id="doc_grid">
  <aside class="js-toc">
  </aside>
  <main class="section">
    <div class="article container">
      <div class="bg-secondary mb-5 p-3">
        <h1>Title: <%= @document.title %></h1>
        <h5>Notes: <%= @document.note %></h5>
      </div>
      <div class="fragments-container" data-controller="sortable">
        <% @document.fragments.each do |fragment| %>
          <%= render fragment %>
        <% end %>
      </div>
    </div>
  </main>
</div>
