<div id="add-document">
  <button class="btn btn-secondary" data-controller="add-doc" data-action="click->add-doc#showNewCard">
    <i id="add_new_doc_btn"class="fa fa-plus"></i>
    Add New Document
  </button>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
</div>

<%= turbo_frame_tag "documents", class: 'card_grid' do %>
  <% @documents.each do |doc| %>
    <%= render partial: 'admin/documents/document', locals: { document: doc } %>
  <% end %>
<% end %>