@import './variables.scss';


.draggable_fragment {
  turbo-frame {
    display: flex;
    flex-direction: column;

    .fragment-wrapper {
      width: 100%;
      display: flex;

      .fragment {
        padding: 0.25em 0.5em;
        padding-bottom: 0;
        border: 2px solid transparent;
        border-radius: 4px;
        display: inline-flex;
        width: calc(100% - $fragment_btn_width);

        .fragment-image {
          width: 600px;
        }
      }
      
      .fragment-button-container {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        
        .active {
          opacity: 1;
        }
        
        button {
          height: 24px;
          width: 24px;
          padding: 0;
          margin: 5px;
          font-size: 12px;
          border-radius: 100%;
          opacity: 0.5;
          &:hover {
            opacity: 1;
          }

          &.sortable-handle {
              cursor: move;
            }
        }
      }
    }
  }
}

.change-fragment-menu, .add-fragment-menu {
  background-color: lightgray;
  font-size: 12px !important;

  .dropdown-content {
    .dropdown-item {
      padding: 5px;
      
      &:hover {
        background-color: white;
      }

      &.has-text-danger {
        background-color: red;
        color: white;
        font-weight: 400;
        &:hover {
          font-weight: 800;
          background-color: red;
        }
      }
    }

    .dropdown-divider {
      border: 1px solid black;
    }
  }
}
